<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23529581496-4kbhtp1ln6mcskid9maormub2mf65rkf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23529581496-4kbhtp1ln6mcskid9maormub2mf65rkf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>23529581496-asmd8bh219om985dj6hd6p4ppub75qra.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD8DRZGdG8F6FI0sZy-LboVR6_hZXbI_EY</string>
	<key>GCM_SENDER_ID</key>
	<string>23529581496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartMusicSelection</string>
	<key>PROJECT_ID</key>
	<string>akilli-muzik-secimi</string>
	<key>STORAGE_BUCKET</key>
	<string>akilli-muzik-secimi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23529581496:ios:a5ad2df87c5b9161493d4d</string>
</dict>
</plist>